* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Estilos CSS personalizados para el carrusel */
.carousel-item img {
	max-height: 800px; /* Ajusta la altura máxima de las imágenes del carrusel */
	width: auto; /* Ajusta el ancho de las imágenes para mantener la proporción */
  }
  
  .carousel-inner {
	max-width: auto; /* Ajusta el ancho máximo del contenedor del carrusel */
	margin: 0 auto; /* Centra el carrusel horizontalmente en la página */
  }
  
  .rowpaddingTB {
	display: grid;
	background-color: beige;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(8,200px);
	width: auto;
  }

.paddingTB {
	padding-top: 50px;
	padding-bottom: 50px;
}

.footerBg {
	background-color: white;
}

.footerBg h3 {
	color: rgb(0, 0, 0);
	text-align: center;
	font-size: 20px;
}

.col-lg-12,
.col-lg-6 {
	padding-right: 0;
	padding-left: 0;
	width: auto;
}

.paddingT {
	padding-top: 50px;
}

.centrar {
	text-align: center;
}

.paddingLR {
	padding-left: 10px;
	padding-right: 10px;
}


.ico_foo:hover {
	cursor: pointer;
}


.redesSociales:hover {
	color: blue;
	cursor: pointer;
}

/* vista desktop */
@media only screen and (min-width: 1024px) {
	.navbar-expand-lg .navbar-collapse {
		justify-content: flex-end;
	}

	.footerFlex {
		display: flex;
		justify-content: space-around;
	}
}

/* vista mobile */
@media only screen and (max-width: 767px) {
	.footerFlex {
		display: flex;
		flex-direction: column;
	}
}

@import url('https://fonts.googleapis.com/css2?family=Saira+condensed:wght@300&family=Saira+Condensed&family=Young+Serif&display=swap')


  